<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="./res/favicon.ico">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Mastercard </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css">
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div id="mainApp">
        <div id="intro" class="page" v-if="currentScreen === 0">
            <img id="logo" src="./res/logo.png">
            <h1>Hello, world!</h1>
            <p> Insert totally awesome and rehearsed pitch here!</p>
            <button class="hvr-bounce-to-right nextBtn" v-on:click="currentScreen += 1"> Next </button>
        </div>

        <div id="information" class="page" v-if="currentScreen === 1">
            <h1> Info </h1>
            <label>
                <input class="fields" id="name" type="text" placeholder="Name" v-model="name">
                <span></span>
            </label>
            <label>
                <input class="fields" id="age" type="number" placeholder="Current Age" v-model="age">
                <span></span>
            </label>
            <button class="hvr-bounce-to-right nextBtn" v-on:click="currentScreen += 1"> Next </button>
        </div>

        <div id="shopping" class="page" v-if="currentScreen === 2">
            <h1> {{storeName}}</h1>
            
            <div v-for="item in store" v-show="!isInCart(item)" v-on:click="addToCart(item)">
                <h2> {{item.name}}</h2>
                <h4>$ {{item.price}} </h4>
            </div>

            <button class="hvr-bounce-to-right nextBtn" v-on:click="currentScreen += 1"> Next </button>
        </div>

        <div id="checkout" class="page" v-if="currentScreen === 3">
            <h1> Checkout </h1>
            <h2> Here are the items you have: </h2>
            <div v-for="item in cart" v-bind:class="{ 'invalid': item.requiredAge > age }">
                <h2> {{item.name}}</h2>
                <h4> $ {{item.price}} </h4>
            </div>
            <button class="hvr-bounce-to-right nextBtn" v-on:click="currentScreen += 1"> Next </button>
        </div>

        <div id="conclusion" class="page" v-if="currentScreen === 4">
            <h1> Receipt for {{name}}</h1>
            <div v-for="item in finalCart">
                <h2> {{item.name}}</h2>
                <h4> $ {{item.price}} </h4>
            </div>
            <h3>Total: <b> $ {{finalTotal}} </b></h3>
            <button class="hvr-bounce-to-right nextBtn" v-on:click="reset(); currentScreen = 0"> Restart </button>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Vue.js -->
    <script src="//unpkg.com/vue"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="./logic.js"></script>
</body>

</html>