@font-face {
  font-family: "accord";
  src: url("res/fonts/accord-alternate-300-normal.woff") format('woff');
}
@font-face {
  font-family: "accord";
  src: url("res/fonts/accord-alternate-200-normal.woff") format('woff');
  font-weight: lighter;
}
@font-face {
  font-family: "accord";
  src: url("res/fonts/accord-alternate-700-normal.woff") format('woff');
  font-weight: bold;
}
body {
  font-family: accord;
  height: 100vh;
  width: 100vw;
}
.nextBtn {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: right;
  cursor: pointer;
  white-space: nowrap;
  float: right;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FE9E00;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
label {
  display: inline-block;
  width: 83%;
  overflow: hidden;
}
.fields {
  color: #646c70;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
}
.fields + span {
  display: block;
  border-bottom: solid 3px #FE9E00;
  width: 0;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}
.fields:focus + span {
  width: 110%;
  /*  used calc first, but won't work on Edge  */
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}
.page {
  display: block;
  margin: auto;
  height: 100%;
  width: 80%;
}
#intro #logo {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro p {
  text-align: center;
}
.invalid {
  border-style: solid;
  border-color: #FA0000;
}
